body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #0c0d0e;
}

h1 {
  font-size: max(5vw,30px);
  font-weight:700;
  background-color: #f3ec78;
  background-image: linear-gradient(90deg,#ebff00 20%, #00ff00 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
h2 {
  font-size: max(2.5vw,25px);
  color: #fff;
}
h3 {
  font-size: max(2vw,25px);
  margin: 0;
  
}
h4 {
  font-size: max(2vw,30px);
  margin: 0;
  color:  #88ff00;
}
h5{
  font-size: max(1.5vw,20px);
  font-weight:300;
  margin: 0;
  padding:0;
}
main{
  margin-left: 12vw;
  margin-right: 12vw;
}
.tooltip{
  text-decoration:none;
  position:relative;
 
}
 
 
.tooltip span{

  display:none;
  color: #88ff00;
  background:none; 
  font-weight: 700;
    

}

.tooltip:hover span
{
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  border:none;
  margin-top: 30px;
  margin-left:-90px;
  overflow:hidden;
  font-size: 0.6em;
  text-align: right;
  transform: rotate(-30deg);

 
}

#head {
  display: flex;
}
.title {

  color: #fff;
  margin: 0;
  margin-left: 12vw;
  
}
#menu {
  position: fixed;
  right: 0;
  top: 20%;
  width: 60px;
  background-color: #eee;
  border-radius:50px;
  margin-right: 2vw;
  text-decoration: none;

}
a {
  text-decoration:none;
}
a:link {
  color: #0c0d0e;
}
a:visited {
  color:#0c0d0e;
}
.links {
  display:flex;
  flex-direction:column;
  align-items:center;
  color: #fff;
  font-size: 2em;
  list-style: none;
  padding: 0;
}
.links li {
  padding-top: 10px;
  margin-bottom: 10px;
}
#resum {
  margin-top: 1vw;
  margin-bottom: 8vw;
  color: #fff;
  width : 60%;
  text-justify:auto ;
}
#photo {
  width :30vw;
}
article {
  display:flex;
  flex-direction:column;
}
#slide{
  color: #fff;
}
#projects{
  display:flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-between;
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; 
  margin-bottom: 2vw;
}
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #bbb;
color: black;
}

/* Style the back side */
.flip-card-back {
background-color: ;
color: white;
transform: rotateY(180deg);
}
.btn{
  background-color: #fff;border-radius: 15px;
  border: none;
  height: 30px;
  width: 120px;
  margin-top:4vw;
}
.comp {
  background-color: #0c0d0e;
  color: #fff;
  border: solid 1px #fff;
  margin: 0.3vw;
}